In [145]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)
players <- read_csv("data/players.csv")

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [146]:
sessions <- read_csv("data/sessions.csv")

Rows: 1535 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): hashedEmail, start_time, end_time
dbl (2): original_start_time, original_end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [152]:
sessions_cleaned <- sessions |> mutate(email = as_factor(hashedEmail)) |> select(email, start_time, end_time)

In [153]:
players_sorted <- players |> mutate(email = as_factor(hashedEmail))
sessions_named <- sessions_cleaned |> left_join(players_sorted, by = "email") |> select(-(hashedEmail))
sessions_final <- sessions_named |> select(-(email))

In [154]:
sessions_final <- sessions_final |> mutate(start = dmy_hm(start_time), end = dmy_hm(end_time), start_date = as_date(start), 
start_time = format(start, "%H:%M"), end_date = as_date(end_time), end_time = format(end, "%H:%M"))

In [155]:
sessions_final <- sessions_final |> select(-c(start, end, start_date, end_date))

In [156]:
sessions_final <- sessions_final |> arrange(start_time)
sessions_final

     start_time end_time experience subscribe played_hours name    gender
1    00:00      00:34    Regular    TRUE      223.1        Hiroshi Male
2    00:00      02:51    Amateur    TRUE       48.4        Xander  Female
3    00:00      01:26    Regular    TRUE      223.1        Hiroshi Male
⋮    ⋮          ⋮        ⋮          ⋮         ⋮            ⋮       ⋮
1533 23:57      00:06    Amateur    TRUE       56.1        Dana    Male
1534 23:58      01:59    Regular    TRUE      223.1        Hiroshi Male
1535 23:59      02:14    Regular    TRUE      218.1        Akio    Non-binary
     Age
1    17
2    17
3    17
⋮    ⋮
1533 23
1534 17
1535 20